.title {
    text-align: center;
}

.icons {
    margin-left: 48%;
}

.icon {
    padding-right: 5px;
    padding-bottom: 10px;
}

#webring-wrapper {
    padding-bottom: 10px;
}

.intro-text {
    padding-left: 2rem;
    padding-right: 2rem;
}